Source: kdenetwork-strigi-analyzers
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: kde-sc-dev-latest (>= 4:4.10.2),
 cmake, debhelper (>= 9), pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4:4.10.2),
 libstreamanalyzer-dev (>= 0.6.3),
 libboost-dev
Standards-Version: 3.9.4
Homepage: http://www.kde.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-sc/kdenetwork-strigi-analyzers.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/kdenetwork-strigi-analyzers.git

Package: kdenetwork-strigi-analyzers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Network related analyzers for Strigi Desktop Search
 These analyzers allow Strigi Desktop Search to extract additional information
 about some network related file formats.
 .
 Strigi plugins included:
  * Torrent files (torrent)
